<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<header>
			<h1><%= title %></h1>
			<p class="byline"><%= byline %></p>
		</header>
		<% if (post) { %>
		<article>
			<%- post %>
		</article>
		<% } %>
	</body>
</html>
